<h1>Bonjour </h1>

<p>
  <%= @newsletter_lead.email %>, voici un lien vers vos critères
</p>
<%= link_to 'https://soumatremorques.herokuapp.com' do %>
  <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1649073191/ebcffdb320fbf451bbc0065d0163c6168b8cd157_PA_CC_82QUES-francais-PYLONES-D_dfqhqc.jpg' %>
<% end %>
