.catalogue{
  margin-top: 100px;
}

.category{
  width: 100%;
  background: black;
  height: 200px;
  margin-bottom: 40px;
}

.favorites{
  margin-top: 100px;
}

.best-sales{
  width: 100%;
  background: gray;
  height: 200px;
  margin-bottom: 40px;
}

.advices{
  margin-top: 100px;
}

.box{
  display: flex;
  position: relative;
  border: 1px red solid;
  width: 100%;
  height: 900px;
}

#first{
  background: gray;
  position: absolute;
  width: 300px;
  height: 400px;
  left: 100px;
  top: 0px;
}

#second{
  background: black;
  position: absolute;
  width: 400px;
  height: 300px;
  right: 0px;
  bottom: 450px;
}

#third{
  background: blue;
  position: absolute;
  width: 300px;
  height: 400px;
  right: 100px;
  bottom: 00px;
}

#fourth{
  background: yellow;
  position: absolute;
  width: 400px;
  height: 300px;
  left: 0px;
  bottom: 150px;
}

.trailers{
  margin-top: 100px;
}

.box-2{
  display: flex;
  position: relative;
  border: 1px red solid;
  width: 100%;
  height: 600px;
}

#card-text{
  background: gray;
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0px;
  bottom: 0px;
}

#card-image{
  background: black;
  position: absolute;
  width: 400px;
  height: 400px;
  right: 0px;
  top: 0px;
  z-index: 1;
}

#button{
  border: 1px solid red;
  position: absolute;
  width: 300px;
  height: 60px;
  right: 0px;
  bottom: 0px;
}

#button-2{
  border: 1px solid red;
  position: absolute;
  width: 300px;
  height: 60px;
  left: 50px;
  top: 80px;
}


.situation{
  margin-top: 100px;
}

.map{
  width: 100%;
  height: 500px;
  background: gray;
}

.witnesses{
  margin-top: 100px;
  margin-bottom: 100px;
}

.witness{
  width: 100%;
  height: 200px;
  border: 1px solid red;
}

.titles{
  width: 100%;
  margin-bottom: 120px;
  position: relative;
}

.title{
  position: absolute;
  font-size: 40px;
  left: 40%;
  top: 30px;
}

.title-back{
  color: white;
  position: absolute;
  font-size: 55px;
  left: 36%;
}

.illustration{
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.illustration:hover{
  opacity: 1;
}
