.catalogue{
  margin-top: 100px;
}

.category{
  width: 100%;
  background: black;
  height: 200px;
  margin-bottom: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.category-text{
  position: absolute;
  color: white;
  font-size: 26px;
  top: 80px;
  left: 30%;
}

.favorites{
  margin-top: 100px;
}

.best-sales{
  width: 100%;
  height: 300px;
}

.best-sale-card{
  width: 100%;
  background-image: linear-gradient(to bottom right, #d64043, #533f42);
  height: 200px;
  margin-bottom: 20px;
}

.best-sales .btn-brand{
  width: 100%;
}

.advices{
  margin-top: 100px;
}

.box{
  display: flex;
  position: relative;
  border: 1px red solid;
  width: 100%;
  height: 900px;
}
.top{
  margin-bottom: 20px;
}

#first{
  background: black;
  width: 100%;
  height: 400px;
}

#second{
  background: black;
  margin-top: 100px;
  width: 100%;
  height: 300px;
}

#third{
  background: black;
  width: 100%;
  height: 400px;
}

#fourth{
  background: black;
  width: 100%;
  height: 300px;
}

.trailers{
  margin-top: 100px;
}

.box-2{
  display: flex;
  position: relative;
  border: 1px red solid;
  width: 100%;
  height: 600px;
}

#card-text{
  background: gray;
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0px;
  bottom: 0px;
}

#card-image{
  background: black;
  position: absolute;
  width: 400px;
  height: 400px;
  right: 0px;
  top: 0px;
  z-index: 1;
}

#button{
  border: 1px solid red;
  position: absolute;
  width: 300px;
  height: 60px;
  right: 0px;
  bottom: 0px;
}

#button-2{
  border: 1px solid red;
  position: absolute;
  width: 300px;
  height: 60px;
  left: 50px;
  top: 80px;
}

.situation{
  margin-top: 100px;
}

.map{
  width: 100%;
  height: 500px;
  background: gray;
}

.witnesses{
  margin-top: 100px;
  margin-bottom: 100px;
}

.witness{
  width: 100%;
  height: 200px;
  border: 1px solid red;
}

.titles{
  width: 100%;
  margin-bottom: 120px;
  position: relative;
}

.title{
  position: absolute;
  font-size: 40px;
  left: 40%;
  top: 30px;
}

.title-back{
  color: white;
  position: absolute;
  text-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 55px;
  left: 36%;
}

.illustration{
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.illustration:hover{
  opacity: 1;
}

.first{
  opacity: 0.6;
  width: 100%;
  height: 400px;
}

.second{
  opacity: 0.6;
  width: 100%;
  height: 300px;
}

.third{
  opacity: 0.6;
  width: 100%;
  height: 400px;
}

.fourth{
  opacity: 0.6;
  width: 100%;
  height: 300px;
}

.first:hover{
  opacity: 1;
  cursor: pointer;
}

.second:hover{
  opacity: 1;
  cursor: pointer;
}

.third:hover{
  opacity: 1;
  cursor: pointer;
}

.fourth:hover{
  opacity: 1;
  cursor: pointer;
}
