.horses-page{
  margin-top: 80px;
}

.content-title{
  text-align: center;
  margin-bottom: 30px;
  color: #2f2c2d;
  font-weight: bold;
}

.content-subtitle{
  margin: 30px 0px;
  color: #2f2c2d;
  font-weight: bold;
}

.last{
  margin: 30px 0px;
}
