<div class="container compatibility-lead-form">
  <div class="row">
    <h1>Rentrez votre email pour savoir si votre véhicule est compatible avec votre choix de remorque</h1>
  </div>
  <div class="row">
    <%= simple_form_for @compatibility_lead do |f| %>
      <%= f.input :email %>
      <%= f.button :submit, 'valider', class: 'btn-flat' %>
    <% end %>
  </div>
</div>
