<div class="navbar category-nav">
  <div class="container">
    <div class= "nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#vente" aria-expanded="false" aria-controls="vente" id="vente-link"> Vente </div>
    <div class= "nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#location" aria-expanded="false" aria-controls="location" id="location-link"> Location </div>
    <div class= "nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#accessoires" aria-expanded="false" aria-controls="accessoires" id="accessoires-link"> Accessoires </div>
    <div class= "nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#entretien" aria-expanded="false" aria-controls="entretien" id="entretien-link"> Entretien </div>
    <div class= "nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#installation" aria-expanded="false" aria-controls="installation" id="installation-link"> Installation </div>
    <div class= "nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#administratif" aria-expanded="false" aria-controls="administration" id="administratif-link"> Administratif </div>
  </div>
</div>

<div class="collapse categories" id="vente">
  <div class="container">
    <div class="card card-body">
      VENTE.
    </div>
  </div>
</div>
<div class="collapse categories" id="location">
  <div class="container">
    <div class="card card-body">
      LOCATION.
    </div>
  </div>
</div>
<div class="collapse categories" id="accessoires">
  <div class="container">
    <div class="card card-body">
      ACCESSOIRES.
    </div>
  </div>
</div>
<div class="collapse categories" id="entretien">
  <div class="container">
    <div class="card card-body">
      ENTRETIEN.
    </div>
  </div>
</div>
<div class="collapse categories" id="installation">
  <div class="container">
    <div class="card card-body">
      INSTALLATION.
    </div>
  </div>
</div>
<div class="collapse categories" id="administratif">
  <div class="container">
    <div class="card card-body">
      ADMINISTRATIF.
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $("#vente-link").hover(function(){
      $("#vente").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#location-link").hover(function(){
      $("#location").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#accessoires").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#entretien-link").hover(function(){
      $("#entretien").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#installation-link").hover(function(){
      $("#installation").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#administratif-link").hover(function(){
      $("#administratif").show();
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#vente").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#location").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#entretien").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#installation").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#administratif").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#vente-link").hover(function(){
      $("#location").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#location").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#location-link").hover(function(){
      $("#accessoires").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#entretien-link").hover(function(){
      $("#accessoires").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#entretien").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#installation-link").hover(function(){
      $("#entretien").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#entretien-link").hover(function(){
      $("#installation").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#administratif-link").hover(function(){
      $("#installation").hide();
    });
  });
</script>





