<div class="slogan d-none d-lg-block" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/a_90/v1644137051/nick-nice-gPm8h3DS1s4-unsplash_d9xsfh.jpg);">
  <div class="container welcome">
    <h1>Bienvenue Chez Soumat</h1>
  </div>
</div>
