<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item banner active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1642108192/Portfolio/blue_stage.jpg);">
      <div class="container">
        <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
        <p>Change your life and learn to code at one of our campuses around the world.</p>
        <a class="btn btn-flat" href="#">Apply now</a>
      </div>
    </div>
    <div class="carousel-item banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1642105339/Portfolio/light.jpg);">
      <div class="container">
        <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
        <p>Change your life and learn to code at one of our campuses around the world.</p>
        <a class="btn btn-flat" href="#">Apply now</a>
      </div>
    </div>
    <div class="carousel-item banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1642103617/Portfolio/jon-tyson-QL0FAxaq2z0-unsplash.jpg">
      <div class="container">
        <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
        <p>Change your life and learn to code at one of our campuses around the world.</p>
        <a class="btn btn-flat" href="#">Apply now</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="catalogue">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="filters d-none d-lg-block"></div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <h1 class= 'title'>Catalogue</h1>
          <div class="col-lg-4 mx-auto">
            <div class="category"></div>
          </div>
          <div class="col-lg-4 mx-auto">
            <div class="category"></div>
          </div>
          <div class="col-lg-4 mx-auto">
            <div class="category"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mx-auto">
            <div class="category"></div>
          </div>
          <div class="col-lg-4 mx-auto">
            <div class="category"></div>
          </div>
          <div class="col-lg-4 mx-auto">
            <div class="category"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="favorites">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <h1 class= 'title'>Les favorites</h1>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
      <div class="col-lg-2 mx-auto">
        <div class="best-sales"></div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="best-sales"></div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="best-sales"></div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="best-sales"></div>
      </div>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
    </div>
    <div class="row">
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
      <div class="col-lg-2 mx-auto">
        <div class="best-sales"></div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="best-sales"></div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="best-sales"></div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="best-sales"></div>
      </div>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
    </div>
      </div>
    </div>
  </div>
</div>


<div class="advices">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <h1 class= 'title'>Bien choisir... nos conseils</h1>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
      <div class="col-lg-8 mx-auto">
        <div class="box">
          <div id="first"></div>
          <div id="second"></div>
          <div id="third"></div>
          <div id="fourth"></div>
        </div>
      </div>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
    </div>
  </div>
</div>

<div class="trailers">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <h1 class= 'title'>Nos remorques</h1>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
      <div class="col-lg-8 mx-auto">
        <div class="box-2">
          <div id="button-2"></div>
          <div id="card-text"></div>
          <div id="card-image"></div>
          <div id="button"></div>
        </div>
      </div>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
    </div>
  </div>
</div>

<div class="situation">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="map">

        </div>
      </div>
    </div>
  </div>
</div>


<div class="witnesses">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <div class="witness">

        </div>
      </div>
      <div class="col-lg-4 mx-auto">
        <div class="witness">

        </div>
      </div>
      <div class="col-lg-4 mx-auto">
        <div class="witness">

        </div>
      </div>
    </div>
  </div>
</div>
