<section class='horses-page'>
  <div class="container">
    <div class="row">
      <h1>COMMENT CHOISIR UN VAN POUR MON CHEVAL ?</h1>
    </div>
    <div class="row">
      <p>Neuf ou d’occasion, l’achat d’un van cheval n’est jamais simple. Il faut prendre en compte de nombreux paramètres comme le poids utile et le nombre de places disponibles à l’intérieur.<br>
        De la validité de votre permis de conduire aux options auxquelles il faut penser pour rendre la remorque plus pratique, faisons un zoom sur les méthodes de sélection d’un van équestre !
      </p>
    </div>
    <div class="row">
      <h2>Van cheval : à quoi faut-il faire attention pour l’achat ?</h2>
    </div>
    <div class="row">
      <p>
        Sur le plan légal et règlementaire, il faut faire attention aux différentes questions du poids de la remorque mais aussi à la validité de votre permis de conduire. Vous souhaitez en savoir plus ? Suivez le guide.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <h4>Calculs simples des poids</h4>
    </div>
    <div class="row">
      <p>
        La première étape de la sélection du van cheval tient dans votre possibilité, ou non, de conduire telle ou telle remorque.

        Cela se décide en fonction de son propre poids à vide (PV), quand elle est chargée (PTAC) mais aussi en fonction du poids total de l’attelage (PTRA). Avec un permis B standard, vous avez le droit de conduire un véhicule dont le PTAC ne dépasse pas 3,5 tonnes ou une remorque dont le PV ne dépasserait pas 750 kilogrammes.

        Par exemple, si votre véhicule tracteur pèse déjà 3 tonnes, alors vous ne pourrez pas atteler de van équestre sauf si êtes détenteur du fameux permis BE.
      </p>
    </div>
    <div class="row">
      <h4>Validité de mon permis de conduire</h4>
    </div>
    <div class="row">
      <p>
        Est-ce que votre permis de conduire actuel est compatible avec votre nouvel achat ?
        En ce qui concerne les vans pour chevaux, la réponse est très souvent non.

        Alors qu’un cheval pèse au minimum 400 kilogrammes quand il arrive à l’âge adulte, nous obtenons un poids en charge de remorque de plus de 1150 kilogrammes si celle-ci pèse 750 kgs à vide.

        Dans les faits, vous n’avez qu’à calculer le poids total de votre attelage avec les chevaux compris.

        Si le total dépasse 3,5 tonnes, alors vous devrez obligatoirement obtenir le permis BE qui vous autorisera à conduire des remorques jusque 3,5 tonnes.

        Lire notre article à ce sujet : Quelles sont les règles techniques pour le transport des animaux.
      </p>
    </div>
    <div class="row">
      <h2> Quels points techniques vérifier pour l’achat d’un van équestre ?


        </h2>
    </div>
    <div class="row">
      <p>Au niveau de la remorque en elle-même, plusieurs points techniques doivent être observés avec la plus grande minutie avant d’acheter tel ou tel modèle de van cheval.</p>
    </div>
    <div class="row">
      <h4> L’adaptation des dimensions au cheval</h4>
    </div>
    <div class="row">
      <p>Plusieurs points de la remorque doivent être en adéquation avec les besoins et les préférences de votre cheval. C’est le cas de la rampe qui lui permet de monter dans le van.

      Alors que beaucoup de chevaux ont une peur viscérale des rampes, il est parfois préférable de choisir des modèles de van dotés d’une marche.

      Il faudra que vous soyez vigilant sur la hauteur des fenêtres et des ouvertures dans le van.

      Le bon emplacement pour ces dernières est quand elles sont situées au-dessus des yeux du cheval. Cela diminuera son stress pendant les trajets.

      Enfin, pensez à prendre les mesures internes du van cheval car votre monture doit pouvoir entrer facilement.</p>
    </div>
    <div class="row">
      <h4> Points de vérification pour un modèle d’occasion


        </h4>
    </div>
    <div class="row">
      <p>Si vous achetez un modèle d’occasion, vous devez garder à l’esprit que plusieurs pièces s’usent au fur et à mesure du temps.

          Plusieurs points techniques sont donc à vérifier par vous-même pour veiller à la sécurité de l’ensemble.

          De l’avant vers l’arrière, commencez par la flèche. Elle doit être graissée et ne doit pas avoir de jeu si vous tirez dessus.

          Veillez à ce qu’il n’y ait également aucune rouille. Puis, vérifiez que le plateau ne comporte aucun trou ou de fuite au niveau du toit. Faites la vérification complète du système de freinage ainsi que celle du système électrique.

          Enfin, vérifiez que la rampe fonctionne correctement et que le plancher du van ne soit pas moisi.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <h2>Quelles options sont intéressantes pour un van cheval ?</h2>
    </div>
    <div class="row">
      <p>Pour améliorer le confort de route pour le conducteur mais aussi pour les chevaux transportés, plusieurs options peuvent être particulièrement utiles. Voici les principales !</p>
    </div>
    <div class="row">
      <h4>Van cheval : les options de confort pour le cheval</h4>
    </div>
    <div class="row">
      <p>Les vans équestres qui disposent d’un frein hydraulique sont moins sujets aux chaos de la route et aux coups de frein brutaux.

          Grâce à ce système, le stress de vos chevaux diminue d’autant que s’améliore la sécurité du trajet. Pensez aussi aux portes situées sur l’avant de la remorque car les chevaux n’aiment pas en sortir par l’arrière.

          De plus, vous évitez les possibles coups de sabot du débarquement. Certaines remorques disposent de bacs à eau et à nourriture, ainsi que de planchers imputrescibles !

          Enfin, les roues de secours peuvent être d’une aide précieuse alors même que la taille des roues de van cheval sont spécifiques.

          Voir tous nos vans Ifor Williams
      </p>
    </div>
    <div class="row">
      <h4>Nombre de places et disposition intérieure</h4>
    </div>
    <div class="row">
      <p>La plupart des vans équestres permettent de déplacer une jument et son petit.

          C’est pour cette raison que, sur leur documentation technique, est inscrite la mention « 1,5 places ».

          Mais de nombreux modèles proposent aussi 2 places, 4 places et jusque 8 places pour les plus grands vans.
          Pour ceux-ci, la disposition du cheval pendant le transport peut être variable.

          Alors que, pour les 1,5 places, votre cheval est face à la route, ici il peut se retrouver en diagonale.

          Cette disposition réduit considérablement la sensation de perte d’équilibre que votre cheval ressent dès que vous prenez un virage.
      </p>
    </div>
  </div>
</section>
