<section class ='smart-page'>
  <div class="container">
    <div class="row">
      <h1>Bien choisir sa remorque</h1>
    </div>
    <div class="row">
      <p>La première question essentielle : à quoi servira la remorque ? Vous avez certainenement déjà une idée précie de l'usage que vous souhaitez en faire ! Jardinage, bagages à transporter pour les vacances, travaux, etc... </p>
      <p> Allez-vous l'utiliser régulièrement ou de manière ponstuelle?</p>
      <p> Plusieurs critères sont à prendre en compte pour déterminer votre remorque idéale, nous allons les passer en revue ensemble. bien sur, nous sommes à votre disposition pour échanger avec vous et vous orienter vers le meilleur choix</p>
    </div>
    <div class="row">
      <h2>Quel type de remorque ?</h2>
    </div>
    <div class="row">
      <p>Chaque type de remorque est adapté à une utilisation plus ou moins spécifique. Si vous souhaiteztrouver une remorque pour jardiner ou pour voyager, ou pour transporter des charges lourdes( des meubles, des gravats...) vous ne choisirez pas le même type de remorque</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">

      <div class="col-6 mx-auto">
        <h4>La remorque polyvalente</h4>
        <p>Si vous souhaitez utiliser votre remorque dans des situations différentes, elle est faite pour vous. Elle est parfaitepour le jardinage ou les travaux de construction et de rénovation. En effet, Elle peut servir pour transporter des déchets verts, des matériaux, etc . De plus, ces remorques possèdent des ridelles basculanantes. Ainsi, vous pouvez faire basculer facilement un ou plusieurs bords pour décharger plus facilement</p>
        <div> image </div>
        <div> button </div>
      </div>
    </div>

    <div class="col-6 mx-auto">
      <h4>La remorque bagagère</h4>
      <p>C'est la remorque la plus légère, elle est parfaitement adaptée au transport de bagage pour les longs trajets de vacances. C'est la meilleure amie des familles nombreuses !</p>
      <div> image </div>
      <div> button </div>
    </div>

    <div class="col-6 mx-auto">
      <h4>La remorque Fourgon</h4>
      <p>La remorque fermée, appelée remorque fourgon vous assure une protectin parfaite de votre chargement, que ce soit contre les intempériesou contre le vol. Diverses options sont disponibles, comme la pointe brise vent, une porte latérale ou une porte hayon.</p>
      <div> image </div>
      <div> button </div>
    </div>

     <div class="col-6 mx-auto">
      <h4>La remorque Porte engin</h4>
      <p>Ces véhicules ne pouvant pas, la plupart du temps, rouler sur route et/ou autoroute, il est souvent nécessaire d'utiliser une remorque dédiée à leur transport sur des longues distances. Pensez à Soumat pour vous remorquer sans vous ruiner</p>
      <div> image </div>
      <div> button </div>
    </div>

     <div class="col-6 mx-auto">
      <h4>La remorque Van</h4>
      <p>Elle a été pensée pour le transport des animaux ( les chevaux dans le plupart des cas) elle est donc beaucoup plus grande. mais e-il en existe différentes tailles, en fonction du type ou du nombre d'animaux transportés</p>
      <div> image </div>
      <div> button </div>
    </div>

  </div>
</section>


