<div class="mail">
  <div class="logobg"><img src="https://res.cloudinary.com/da2krghvd/image/upload/c_crop,g_center,h_120,w_250/v1643388825/Portfolio/soumat_logo_blanc.png" alt="soumat logo"/></div>
  <div class="titre1"><i class="fa-thin fa-door-open"></i><h1>Bienvenue chez soumat,</span></h1>
  <div class="text1"><span>Nous sommes ravis de vous accueillir parmi nous !</span></div>
  <div class="text2"><span>Avec SOUMAT remorques,vous pouvez acheter ou louer votre remorque à partir de …€ .
    Retrouvez tous les modèles qui vous intéresse dans notre <bold>catalogue</bold>.</span></div>
  <div class="text3"><span>Merci pour votre confiance, L'équipe SOUMAT remorque.</span></div>
</div>

<div class="slider">
  <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1646039504/production/bat2.jpg" class="image5">
  <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1646039480/production/bat.jpg" class="image4">
  <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1646039504/production/bat2.jpg" class="image3">
  <img src="https://res.cloudinary.com/da2krghvd/image/upload/v1646039505/production/istockphoto-1297471009-170667a.jpg" class="image2">
  <div class="null">
</div>



  <h1>Bonjour </h1>

<p>
  <%= @criteria_lead.email %>, voici un lien vers vos critères
  <%= link_to 'ma page', @criteria_lead.link, target: '_blank' %>
</p>
