#carouselExampleControls{
  margin-top: 46px;
}
.carousel-control-prev{
  height: 100px;
  padding: 220px 0;
}

.carousel-control-next{
  height: 100px;
  padding: 220px 0;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 180px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  font-size: 32px;
  text-align: center
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.fa-long-arrow-alt-right{
  font-size: 12px;
}

.banner .btn-action{
  padding-top: 6px;
  border-radius: 4px;
  color: white;
  background-image: linear-gradient(to bottom right, white, black);
  margin-left: 9px;
  margin-right: 9px;
  width: 130px;
  height: 40px;
  font-weight: bold;
  transition: all .4s ease-in-out;
  border: 1px solid white;
}

.banner .btn-action:hover{
  background-image: linear-gradient(to bottom right, white, white);
  transform: scale(1.1);
  color: #2f2c2d;
  border: 1px solid #2f2c2d;
}
.buttons{
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
