.product-details{
  margin: 100px 0px;
}

.hook{
  margin-bottom: 40px;
}

.product-image-side{
  border: 1px solid black;
  margin-top: 40px;
}

.description-group .btn-flat {
  margin-bottom: 30px;
}


.description-group .btn-ghost {
  margin-bottom: 30px;
}

.options{
  margin-top: 40px;
}

.product-description-price{
  color: #5394a9;
  font-size: 22px;
}
