.page{
  margin-top: 46px;
  padding: 40px 0px;
  width: 100%
}

.rent-page{
  margin-top: 86px;
  padding: 0px;
  width: 100%
}

.product-index{
  margin-top: 20px;
}

.product-details{
  margin: 100px 0px;
}

.hook{
  margin-bottom: 40px;
}

.product-image-side{
  border: 1px solid black;
  margin-top: 40px;
}

.description-group .btn-flat {
  margin-bottom: 30px;
}


.description-group .btn-ghost {
  margin-bottom: 30px;
}

.options{
  margin-top: 40px;
}

.product-description-price{
  color: #5394a9;
  font-size: 22px;
}


