.product-card-shape{
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 40px;
}

.product-card-shape h1{
  font-size: 16px;
}

.product-card{
  width: 100%;
  background-image: linear-gradient(to bottom right, #c4c4c4, white);
  height: 150px;
  margin-bottom: 20px;
}

.i-love-it{
  color: white;
  text-align: right;
  margin: 10px;
}

.i-love-it .fa-heart{
  font-size: 22px;
  color: #3f8fa8;
}

.caracteristic{
  text-align: left;
  margin-left: 20px;
  text-decoration: none;
}
.best-caracteristic{
  text-align: left;
  margin-left: 20px;
  font-size: 16px;
  text-decoration: none;
}

.caracteristic-price{
  text-align: right;
  margin-right: 20px;
  color: #D64043;
  font-size: 22px;
}
.card-product-title{
  text-align: left;
  font-size: 24px;
  margin: 20px 20px;
}

.card-product-caracteristics{
  padding-bottom: 20px;
}

.card-product-caracteristics .btn-flat{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card-product-caracteristics .btn-ghost{
  border: 1px solid #3f8fa8;
  margin-bottom: 20px;
  color: #3f8fa8;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
