.nav-link{
  text-align: center;
  margin-left: 12px;
  width: 100%;
  color: $red;
}
.nav-link:hover{
  text-align: center;
  width: 100%;
  color: black;
}

.tab-pane{
  background: $light-gray;
}

.information-background{
  background: white;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
