<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="breadcrumb-button col-3 col-lg-1"><%= link_to 'Accueil', root_path %></div>
      <div class="breadcrumb-button col-3 col-lg-1"><%= link_to 'Ventes', trailers_products_path %></div>
      <div class="breadcrumb-button col-3 col-lg-1">Remorques magasin</div>
    </div>
  </div>
</div>
<header class='page'>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <h1>Vente de Remorques magasins</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <p>Soumat vous propose ses magasins : polyvalents ils sont la solution idéale au transport de contenus réfrigérés, etc ... idéal pour les évènements personnels et professionnels.
          Fière de ses 45 ans d'expérience, Soumat vous apporte conseils et expertise
          Prenez connaissance de notre gamme de produits.
        </p>
      </div>
    </div>
  </div>
</header>
<%= render 'index_cards' %>
