<header class='rent-page'>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <h1>Location de Remorques magasins</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <p>Soumat vous propose ses magasins : polyvalents ils sont la solution idéale au transport de contenus réfrigérés, etc ... idéal pour les évènements personnels et professionnels.
          Fière de ses 45 ans d'expérience, Soumat vous apporte conseils et expertise
          Prenez connaissance de notre gamme de produits.
        </p>
      </div>
    </div>
  </div>
</header>
<%= render 'index_rental_cards' %>
