<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="breadcrumb-button col-3 col-lg-1"><%= link_to 'Accueil', root_path %></div>
      <div class="breadcrumb-button col-3 col-lg-1"><%= link_to 'Accessoires', accessories_products_path %></div>
      <div class="breadcrumb-button col-3 col-lg-1">Essieux</div>
    </div>
  </div>
</div>
<%= render 'index_cards' %>
