<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="breadcrumb-button col-3 col-lg-1"><%= link_to 'Accueil >', root_path %></div>
      <div class="breadcrumb-button col-3 col-lg-1"><%= link_to 'Location >', rent_products_path %></div>
      <div class="breadcrumb-button col-3 col-lg-1">Plateaux</div>
    </div>
  </div>
</div>
<header class='rent-page'>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <h1>Location de remorques pour le transport d'animaux</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <p>Soumat vous propose des porte-motos: simple rail, double rails ou plateau, énormément de solutions possible pour le transport de vos deux roues
          Fière de ses 45 ans d'expérience, Soumat vous apporte conseils et expertise
          Prenez connaissance de notre gamme de produits.
        </p>
      </div>
    </div>
  </div>
</header>
<%= render 'index_rental_cards' %>
