<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="breadcrumb-button col-3 col-lg-1"><%= link_to 'Accueil', root_path %></div>
      <div class="breadcrumb-button col-3 col-lg-1">Remorques</div>
    </div>
  </div>
</div>
<header class='page'>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <h1>Vente de remorques en Aquitaine</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <p>Soumat vous propose des remorques de grandes marques : Al-ko, Knott, GKN, Lider, Mecanorem, BPW, etc ..
          Fière de ses 45 ans d'expérience, Soumat vous apporte conseils et expertise
          Besoin d'un produit que vous ne retrouvez pas sur notre site ? Demandez à être contacté et nous nous occuperons de tout.
        </p>
      </div>
    </div>
  </div>
</header>
<%= render 'index_cards' %>
