<header class='rent-page'>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <h1>Location de porte-engins</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <p>Soumat vous propose des porte-engins: robustes et permis obligatoire pour ces remorques adaptées au transport d'engins de tout type
          Fière de ses 45 ans d'expérience, Soumat vous apporte conseils et expertise
          Prenez connaissance de notre gamme de produits.
        </p>
      </div>
    </div>
  </div>
</header>
<%= render 'index_rental_cards' %>
